// generic wrapper
@mixin GenericWrapper {
    margin: auto;
    height: 100%;
    width: 80%;
}


@mixin search_bar_mix {

    .active_search_ico {
        cursor: pointer;
        color: #20b2aa;
    }

    .search_box {
        // width: calc(50% - 35px);
        width: 135px;
        height: 30px;
        // Transizione per allargamento search bar al focus
        transition: all 1s;
        position: relative;
        .search_results_panel {
            position: absolute;
            z-index: 3;
            top: 30px;
            left: 12px;
            overflow-y: auto;
            max-height: calc(100vh - 70px);
            width: calc(100% - 45px);
            box-shadow: 2px 2px 5px darkgrey;
            // border-bottom: 1px solid lightsteelblue;
            border-bottom-left-radius: 5px;
            @media (max-width: 768px) {
                max-height: calc(100vh - 105px);
            }
            .search_results_ul {
                padding-left: 0px;
                margin-bottom: 0px;
                .result_item {
                    background-color: white;
                    color: black;
                    padding: 5px 5px 5px 10px;
                    border-bottom: 1px solid lightsteelblue;
                    border-left: 1px solid lightsteelblue;
                    border-right: 1px solid lightsteelblue;

                    &:last-child {
                        border-bottom-left-radius: 5px;
                    }
                    &:hover {
                        background-color: lightgrey;
                        cursor: pointer;
                    }
                    .poi_name {
                        // text-decoration: underline;
                        .poi_ico {
                            color: #20b2aa;
                        }
                    }
                }
                
            }
    
        }
    
        .search_bar {
            width: 100%;
            height: 100%;
            position: relative;
            .left_circle, .right_circle {
                border-radius: 50%;
                width: 30px;
                height: 30px;
                position: absolute;
                z-index: 0;
                background-color: white;
            }
    
            .left_circle {
                left: -5px;
            }
    
            .right_circle {
                right: -5px;
            }
    
            .input_search {
                padding: 0px 25px 0 10px;
                border: transparent;
                width: calc(100% - 24px);
                height: 100%;
                position: relative;
                z-index: 1;
                font-weight: bold;
                outline: none;
                &:focus {
                    // outline: none;
                    font-weight: bold;
                }
                &::placeholder {
                    font-weight: 400;
                    // color:  #20b2aa;
                    color:  black;
                }
            }

            .search_form {
                position: absolute;
                right: 5px;
                z-index: 2;
                .btn_search_icon {
                    padding: 0px;
                    width: 24px;
                    border-style: none;
                    background-color: transparent;
                    cursor: default;
                    &:focus {
                        outline: none;
                    }
                    .search_icon {
                        font-size: 20px;
                    }
                }
            }

        }

    }

    .max_search_bar {
        width: 100%;
    }

    .min_search_bar {
        width: 135px;
    }
    
}
