.on_evidence {
    // height: 500px;
    width: 100%;
    text-align: center;
    background: rgb(255,255,255);
    padding-top: 40px;
    // background: linear-gradient(180deg, rgba(255,255,255,1) 30%, rgba(32,178,170,1) 100%);
    @media (max-width: 576px) {
        position: relative;
        top: 105px;
    }
    .title {
        font-weight: bold;
        font-style: italic;
        color: black;
        @media (max-width: 991px) {
            text-align: left;
        }
        @media (max-width: 450px) {
            font-size: 24px;
        }            

    }
    .sub-title {
        // display: inline-block;
        color: lightseagreen;
        font-weight: bold;
        @media (max-width: 991px) {
            text-align: left;
        }
        @media (max-width: 450px) {
            font-size: 13px;
        }
        @media (max-width: 400px) {
            font-size: 12px;
        }            
        @media (max-width: 350px) {
            font-size: 11px;
        }                        
        &:hover {
            text-decoration: none;
            font-weight: bold;
        }
    }

    .wrap_gallery {
        // height: 250px;
        position: relative;
        margin-bottom: 70px;
        &:hover {
            .arrow {
                opacity: 0.5;
                cursor: pointer;
            }
        }
        .arrow {
            width: 40px;
            height: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            background-color: white;
            z-index: 1;
            &:hover {
                opacity: 0.95;
                cursor: pointer;
                background-color: lightseagreen;
                .ico_arrow {
                    color: white;
                }
            }
            .ico_arrow {
                font-size: 60px;
                color: lightseagreen;
            }
        }
        .prev_arrow {
            left: 0px;
        }
        .next_arrow {
            right: 0px;
        }
        .gallery {
            height: 100%;
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
    
            .card_gallery {
                height: 100%;
                padding: 0px 2px;
                position: relative;
                &:hover {
                    .card_title {
                        display: none;
                    }

                    .card_hover_title {
                        display: block;
                    }
                }
                .card_title {
                    position: absolute;
                    left: 2px;
                    bottom: 20px;
                    border-top: 1px solid lightseagreen;
                    border-right: 1px solid lightseagreen;
                    border-bottom: 1px solid lightseagreen;

                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;

                    padding: 5px 10px;
                    background-color: white;
                    color: black;
                    .gallery_ico {
                        color: lightseagreen;
                    }
                }
                .card_hover_title {
                    display: none;
                    // background-color: lightseagreen;
                    // color:white;

                }
                img {
                    height: 250px;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    border-top: 4px solid lightseagreen;
                    border: 0px 1px 1px 1px solid black;
                    font-size: 0px;
                    display: block;
                    // Mobile
                    @media (max-width: 576px) {
                        height: 200px;
                    }
                }
            } 
        }
    }


}