.show {
    width: 100%;
    text-align: center;
    background: $color_3;
    padding: 90px 0px 90px 0px;
    // position: relative;
    // top: 60px;

    @media (max-width: 768px) {
        padding: 135px 0px 90px 0px;
        // position: relative;
        // top: 105px;
    }

    @media (max-width: 576px) {
        padding: 30px 0px 90px 0px;
        position: relative;
        top: 105px;
        // position: relative;
        // top: 105px;
    }

    .title {
        font-weight: bold;
        font-style: italic;
        color: black;
        @media (max-width: 991px) {
            text-align: left;
        }
        @media (max-width: 450px) {
            font-size: 24px;
        }
    }

    // include per mixin btn
    @include btn_std_mixin;


    .toast_message {
        padding: 10px;
        width: 300px;
        text-align: left;
        position: fixed;
        // display: none;
        background-color: $color_4;
        color: $color_2;
        top: calc(100vh - 120px);
        right: -305px;
        z-index: 3;
        transition: all 1s;
        box-shadow: 3px 3px 8px $color_5;
        border: 1px solid $color_1;
        .toast_img{
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
        .toast_title{
            font-weight: bold;
        }
        .toast_text {
            margin: 0px;
        }

    }

    .contact {
        width: 100%;
        height: 0px;
        margin-top: 10px;
        // background-color: $color_4;
        transition: all 1s;
        text-align: left;
        .wrap_inputs {
            opacity: 0;
            transition: all 1s;
            .label {
                color: red;
                display: flex;
                align-items: flex-end;
                width: 100%;
                height: 40px;
                text-align: right;
                font-size: 16px;
            }
            textarea:focus, input:focus {
                outline: none;
                background-color: $color_3;
            }
            .form_input {
                width: 100%;
                padding-left: 20px;
                background-color: $color_4;
                font-weight: 700;
                // border: 1px solid $color_5;
                // border-top: 1px solid black;
                // border-top-left-radius: 5px;
                // border-top-right-radius: 5px;
                box-shadow: 0 1px 2px $color_5;
                // border: solid 1px #2f96b4;
                border-style: none;
                // border-left: 5px solid $color_1;
                // border-bottom: 4px solid $color_1;
                &::placeholder {
                    // padding-left: 10px;
                    color: $color_1;
                    // vertical-align: top;
                    // font-size: 22px;
                    // line-height: 22px;
                }
            }
            #nickname, #email {
                height: 40px;
            }
            #text_message {
                padding-top: 10px;
                resize: none;
                height: 200px;
            }
            .wrap_btn_send {
                height: 80px;
                @media (max-width: 767px){
                    text-align: center;;
                }
            }
            #btn_send {
                width: 20px;
                position: relative;
                top: 55px;
                @media (max-width: 767px){
                    top: 45px;
                }
                .fa-paper-plane {
                    margin-right: 10px;
                }

            }
        }
    
        .wrap_inputs_visible {
            opacity: 1;
        }
        
    }

    .contact_disabled {
        pointer-events: none;
        opacity: 0.6;
    }

    .contact_open  {
        height: 280px;
        @media (max-width: 767px){
            height: 520px;
        }
    }

    .wrap_topviews {
        margin-top: 30px;
        @media (max-width: 767px){
            margin-top: 0px;
        }
        .img_topviews {
            width: 100%;
            // border-top: 5px solid $color_1;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            &:hover {
                cursor: zoom-in;
            }
        }
        .gallery_topviews {
            // border: 1px solid $color_1;
            font-size: 0px;
            width: 100%;
            height: calc(100% / 6);
            text-align: left;
            // margin-bottom: 105px;
            .thumbnail {
                opacity: 0.4;
                border: 1px solid white;
                border-top: 2px solid $color_3;
                font-size: 0px;
                width: calc(100% / 5);
                height: 100%;
                &:first-child {
                    border-left: 0px;
                    opacity: 1;
                }
                &:last-child {
                    border-right: 0px;
                }
                &:hover {
                    cursor: pointer;
                    // opacity: 1;
                }
                @media (max-width: 991px) {
                    width: calc(100% / 10);
                }
                @media (max-width: 768px) {
                    width: calc(100% / 5);
                }
        
            }

        }
        .acc_title {
            text-align: left;
            // font-weight: bold;
            @media (max-width: 992px) {
                margin-top: 20px;
            }

        }

        .acc_type {
            font-weight: bold;
            text-align: left;
            @media (max-width: 991px) {
                margin-top: 16px;
            }
            .acc_type_val {
                font-weight: 400;

            }
        }

        .wrap_address {
            margin: 30px 0px 10px 0px;
            text-align: left;
        }
        .acc_address {
            margin-top: 30px;
            text-align: left;
            .acc_address_ico {
                color: $color_1;
            }
        }

        .acc_vedi_link {
            text-align: left;
            margin-bottom: 16px;
            &:hover {
                cursor: pointer;
            }
            a {
                color: $color_1;
                font-weight: bold;
            }            
        }

        .acc_description {
            font-size: 16px;
            text-align: justify;
            .link {
                color: $color_1;
                &:hover {
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }

        .info_title {
            font-weight: bold;
            text-align: left;
            @media (max-width: 576px) {
                margin-top: 16px;
            }
        }

        .wrap_service {
            margin-bottom: 8px;
            text-align: left;
            .service_costo_link{
                color: $color_1;
                &:hover {
                    text-decoration: none;
                    font-weight: bold;
                }
            }
            .service_ico {
                width: 22px;
                height: 22px;
                line-height: 22px;
                text-align: center;
                border: 1px solid $color_1;
                color: $color_2;
            }
        }
    
    }


    .toast_on {
        right: 20px;

    }

    // include for Tom Tom map mixin
    @include map_mixin;

}