.map_wrapper {
    width: 100%;
    height: 378px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid $color_1;
    overflow: hidden;

    @include map_mixin;
}